.eventouno{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventouno img{
    width: nth($width , 1 )
}

.eventodos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eventodos img{
    width: nth($width , 1 );
}
